*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html{
	font-size: 10px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
p{
	font-size: 1.6rem;
}
img{
	width: 100%;
	max-width: 100%;
	height: auto
}
section{
	padding: 1rem 0;
}
/*header*/
header{
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

}
.container{
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}
nav{
	width: 100%;
	height: 7.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
.nav-brand{
	width: 4rem;
}
.menu-icons i{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}
nav.scroll {
		width: 100%;
		height: 5rem;
		top: 0;
		left: 0;
		z-index: 10000;
		background: linear-gradient(135deg,rgba(0, 67, 119,0.9) 0%,rgba(91, 153, 211,0.8) 100%);
		position: fixed;

		padding: 0 1.5rem;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
	nav.scroll .nav-brand{
		width: 4.5rem;
	}

	nav.scroll li {
		opacity:1;
	}
.close i{
	color: #eb648c;
}
.nav-list{
	width: 25rem;
	height: 100vh;
	background-color:#d7d4ed;
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}
.nav-list.active{
	right: 0;
}
.close{
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}
.nav-item{
	margin: 1.5rem 0;
}
.nav-links{
	font-size: 1.6rem;
	text-transform: uppercase;
	color: rgba(0,0,0,.7);
}
a:hover{
	color:white;
	text-decoration: none;
}
/* hero */

.hero{
	width: 100%;
	height: 80vh;
	background: linear-gradient(135deg,rgba(0, 67, 119,0.9) 0%,rgba(91, 153, 211,0.8) 100%),url("hinh/The-Hobbit-mythology-darkness-screenshot-computer-wallpaper-fictional-character-fiction-130943.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}
#haha::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: url(hinh/wavemetduoi.png) center no-repeat;
	background-size: cover;
}
.main-message{
	width: 100%;
	max-width: 50rem;
	color: #fafafa;
	text-transform: uppercase;
	transform: translateY(20%);
}
.main-message h3{
	font-size: 1.6rem;
}
.main-message h1{
	font-size: 4rem;
	margin: 1rem 0;
}
.main-message p{
	text-transform: lowercase;
}
.btn{
	background: #eb648c;
	border-radius: 2rem;

	color: #fafafa;
	display: inline-block;
	margin-top: 2rem;
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	transition: background-color 650ms;
}
.btn:hover{
	background-color: #ce587b;
	color: #fafafa;
}


/**
* Navigation
*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all ease .65s;
  z-index: 100;
  width: 100%;
}

span {
  font-size: 24px;
  margin-left: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 15px;
}

/*  experience  */
.experience-outdoors{
	padding: 0;
}
.tittle-heading{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10rem;
	z-index: -25;
	color: rgba(0,0,0,.7);
}
.tittle-heading h3{
	font-size: 1.4rem;
}
.tittle-heading h1{
	font-size: 2rem;
	margin: .5rem 0 1rem;
}
.tittle-heading p{
	text-transform: lowercase;
}
.activities-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
}
.activities-grid-item{
	height: 40rem;
	padding: 5rem;
	color: #fafafa;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	/* để nằm dưới menu*/
	z-index: -1;
}
.activities-grid-item::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(135deg,rgba(0, 67, 119,0.9) 0%,rgba(91, 153, 211,0.8) 100%);
	z-index: -21;
}
.star-gazing{
	background: url(hinh/260a1c12be98f18ee35e79b747ed7973.jpg) top no-repeat;
}
.hiking{
	background: url(hinh/DveRiO0V4AA2ELG.jpg) top no-repeat;
}
.camping{
	background: url(hinh/mina-2.png) top no-repeat;

}
.activities-grid-item i{
	font-size: 4rem;
	color: #eb648b;
}
.activities-grid-item  h1{
	font-size: 1.7rem;
	text-transform: uppercase;
	margin: 2rem 0;
}

/*   testmonial  */
.testmonials{
	width: 100%;
	height: 100vh;
	background: linear-gradient(135deg,rgba(0, 67, 119,0.9) 0%,rgba(91, 153, 211,0.8) 100%)
,url("hinh/Harley-Quinn-artwork-women-digital-art-portrait-display-1620375.jpg") center no-repeat fixed;
	background-size: cover;
	position: relative;
}
.testmonials::before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 30%;
	background: url(hinh/wavemet.png) center no-repeat; 
	background-size:cover;
}
.testmonial{
	width: 100%;
	color: #fafafa;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.testmonial-text-box{
	padding: 0 1.5rem;
	margin-bottom: 2rem;
	position: relative;
}
.testmonial-text-box i{
	position: absolute;
	top: -8rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 8rem;
	color: #eb648b;
	opacity: .5;
	z-index: -5;
}
.customer img{
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	border: 3px solid #eb648b;
}
footer{
	padding: 2.5rem 0;
	background-color: #d7d4ed;
	text-align: center;
	color: rgba(0,0,0,.7);
}



/*      begin-adventure    */
.adventure-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
}
.adventure-grid-item p{
	color: rgba(0,0,0,.7);
}
.begin-adventure .btn{
	background: #0099cc;
}

/*         footer    */
footer{
  background: rgba(0,0,0,0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}
footer p>span{
  color: #0099cc;
}
footer input{
  border:none !important;
}
footer input::placeholder{
  color: white!important;
}
footer .input-group .input-group-text{
  background: var(--bggradient);
  border:none;
}
footer .column i{
  color:#0099cc;
}
footer .column i+i{
  padding: 0 0.5em;
}


/*      MEdia    */

@media screen and (min-width: 350px){
	.main-message{
		transform: translateY(40%);
	}
}
@media screen and (min-width: 470px){
	#haha::before{
		height: 60vh;
		background: url(hinh/wavemetduoi.png);
		background-size: cover;
	}
	.testmonials::before{
		height: 9rem;
		background: url(hinh/wavemet.png);
		background-size: cover;
	}
}
@media screen and (min-width: 700px){
	header{
		height:8rem;
	}
	.nav-brand{
		width: 5rem;
	}
	.nav-list{
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;
	}
		/**
	* Scrolling CSS
	*/
	
	.menu-icons{
		display: none;
	}
	.nav-item{
		margin:0 2.5rem;
	}
	.nav-links,
	.current{
		color: #fafafa;
		position: relative;
		font-size: 1.3rem;
	}
	.nav-links::before,
	.current::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -.5rem;
		background-color: #eb648b;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 650ms;
	}
	.current::before{
		transform: scaleX(1);
	}
	.nav-links:hover::before{
		transform: scaleX(1);
	}
	.hero{
		height: 90vh;
	}
	.main-message{
		transform: translateY(50%);
	}
	.tittle-heading h1{
		font-size: 2.5rem;
	}
}
@media screen and (min-width: 950px){
	#haha::before{
		height: 69rem;
		background: url(hinh/wavemetduoi.png);
		background-size: cover;
	}
	.testmonials::before{
		height: 22.7rem;
		background: url(hinh/wavemet.png);
		background-size: cover;
	}
}
@media screen and (min-width: 1200px){
	.hero{
		height: 75vh;
	}
	#haha::before{
		height: 85rem;
		background: url(hinh/wavemetduoi.png);
		background-size: cover;
	}
	.testmonials::before{
		top: ;
		height: 30rem;
		background: url(hinh/wavemet.png);
		background-size: cover;
	}
}