html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
}
	.div{
		height: 500px;
		width: 500px;
		background-color: transparent;

	}
	.aa{top: 45%;
		height: 100px;
		width: 100px;
		background-color:white;
		margin-left:0;
		position:absolute;
		animation: a 3s 1;

	}
	@keyframes a{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-left: -400px;
			transform: rotateZ(180deg);
		}
		50%{
		top: 45%;
		background-color:black;
		margin-left: 0;
		position:absolute;
		}
	}

	.bb{top: 45%;
		height: 100px;
		width: 100px;
		background-color:black;
		margin-left: 0;
		position: absolute;
		border-top-right-radius: 110px;
		animation: a 3s 1;
	}

	.cc{top: 45%;
		background-color:white;
		position: absolute;
		margin-left: 100px;
		height: 100px;
		width: 70px;
		animation: c 3s 1;

}
	@keyframes c{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-top: 200px;
			margin-left: 20	0px;
			transform: rotateZ(180deg);
		}
		50%{
		margin-left: 300px;
		background-color:white;
		position:absolute;
		}
	}

	.dd{
		top: 45%;
		background-color:white;
		position: absolute;
		margin-left: 170px;
		height: 100px;
		width: 50px;
		animation: d 3s 1;
	}
	@keyframes d{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-top: -300px;
			margin-left: -350px;
			transform: rotateZ(180deg);
		}
		50%{
		
		background-color:black;
		margin-left: 170px;
		position:absolute;
		}
	}
	.ee{
		background-color:black;
		position: absolute;
		margin-left: 170px;
		top: 45%;
		width: 50px;
		height: 30px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		animation: d 3s 1;

	}
	.ff{
		top: 45%;
		background-color:white;
		position: absolute;
		height: 150px;
		width: 60px;
		margin-left: 220px;
		margin-top: -50px;
		animation:f 3s 1;
	}
	@keyframes f{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-top: -300px;
			margin-left: 420px;
			transform: rotateZ(-180deg);
		}
		50%{
		margin-left: 220px;		
		background-color:black;
		position:absolute;
		}
	}
	.gg{
		top: 45%;
		background-color:white;
		position: absolute;
		margin-left: 280px;
		height: 100px;
		width: 50px;
		animation: g 3s 1;}

		@keyframes g{
			10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-left: 500px;
			margin-top:200px;
			transform: rotateZ(-180deg);
		}
		50%{
		margin-left: 280px;
		background-color:black;
		position:absolute;
		}
		}

	.hh{
		background-color:black;
		position: absolute;
		margin-left:280px;
		top: 45%;
		width: 50px;
		height: 30px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		animation: g 3s 1;}


	.ii{top: 45%;
		background-color:white;
		position: absolute;
		margin-left: 330px;
		height: 100px;
		width: 70px;
		animation: i 3s 1;

}
	@keyframes i{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-left: 750px;
			margin-top:-280px;
			transform: rotateZ(180deg);
		}
		50%{
		margin-left: 330px;
		background-color:white;
		position:absolute;
		}
	}
	.jj{top: 45%;
		height: 100px;
		width: 100px;
		background-color:white;
		margin-left: 400px;
		position:absolute;
		animation: j 3s 1;
	}
	@keyframes j{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-left: 750px;
			transform: rotateZ(180deg);
		}
		50%{
		margin-left: 400px;
		background-color:black;
		position:absolute;
		}
	}
	.kk{top: 45%;
		height: 100px;
		width: 100px;
		background-color:black;
		margin-left: 400px;
		position: absolute;
		border-top-left-radius: 110px;
		animation: j 3s 1;

	}
	.ll{
		top: 45%;
		background-color:white;
		position: absolute;
		margin-top: 100px;
		margin-left: 170px;
		height: 80px;
		width: 80px;
		animation:l 3s 1;
	}
	@keyframes l{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-left: -200px;
			margin-top:200px;
			transform: rotateZ(180deg);
		}
		50%{
		margin-left: 170px;
		background-color:black;
		position:absolute;
		}
	}
	.mm{
		top: 45%;
		background-color:black;
		position: absolute;
		margin-top: 100px;
		margin-left: 170px;
		height: 80px;
		width: 80px;
		border-top-right-radius: 110px;
		animation:l 3s 1;

	}
	.nn{
		top: 45%;
		background-color:white;
		position: absolute;
		margin-left: 250px;
		margin-top: 100px;
		height: 80px;
		width: 80px;
		animation: n 3s 1;
	}
	@keyframes n{
		10%{
			box-shadow: 0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white;
					
		}
		20%{
			top: 45%;
			margin-left: 50px;
			margin-top: -250px;
			transform: rotateZ(180deg);
		}
		50%{
		margin-left: 50px;		
		background-color:black;
		position:absolute;
		}
	}
	.oo{
		top: 45%;
		background-color:black;
		position: absolute;
		margin-left: 250px;
		margin-top: 100px;
		height: 80px;
		width: 80px;
		border-top-left-radius: 110px;
		animation: n 3s 1;
	}
	.pp{
		background-color:black;
		position: absolute;
		margin-left: 220px;
		margin-top: -50px;
		top: 45%;
		width: 60px;
		height: 45px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		animation:f 3s 1;

	}
	.aa,.bb,.cc,.dd,.ee,.ff,.gg,.hh,.ii,.jj,.kk,.ll,.mm,.nn,.oo,.pp{

					
	}